body{
	background-image:url("original/fundo.png");
	font: 16 px Arial, Helvetica, sans-serif; 
}
 #principal {
 	width:900px;
 }
 #capa{
 	background-image: url("original/capa");
 }
 #menu{
 background: #c5c5b2;
 padding: 15px;
}
 
#conteudo{
	background: #e8e8d9;
	padding:10px
}
 a{
 	color:  #4b566a;
 	text-decoration: none;
 	font-weight: bold;
 	padding: 10px;
 }


 .centralizar{
 	text-align: center;
 }

 h1{
 	color: #828271;
 	font-size: 1.2em;
 }

 .imgc{
 	border:10px solid #c3c3ae;
 }